/*custom css*/

/*
    Author Name : Jasim Khan, Ebin Antoo
    Student # : 200263011, 200269378
    Date : 08-JUn-16
    Version : 1.1
    Description : custom css for designing manually.
 */

/*global*/
.head-h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.3em;
}

@media (min-width: 768px){
    ul.doc-nav.navbar-nav{
        padding-left:25%;
    }
}

.divider{
    display: inline-block;
    width: 20%;
    color: inherit;
    padding: 0;
    border-bottom: 3px solid;
}

.divider-1{
    display: inline-block;
    width: 100%;
    color: inherit;
    padding: 0;
    border-bottom: 3px solid;
}

.desc{
    color: rgb(101, 101, 101);
    font-weight: 300;
    letter-spacing: 0.08em;
}

.ver-his{
    width:170px;
    height:140px;
}
 
/*heaer css for default page*/
.home-header h1{
    text-align:center;
}

    /*footer css*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);

	width: 100%;
	text-align: left;
	font: normal 12px sans-serif;

	padding: 20px 20px;
	margin-top: 30px;
}
/*css for footer coor and font*/
.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
/*p tag in footer*/
.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.0;
	text-decoration: none;
	color:  inherit;
}
/*right links in footer*/
.footer-distributed .footer-right{
	float: right;
	margin-top:-4%;
	max-width: 180px;
}
/*anchors in right links of footer*/
.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 25px;
	background-color:  #33383b;
	border-radius:1px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

.ext-docs>div.row-fluid{
    padding-bottom: 50px;
}

/*fix top*/
.navbar-fixed-top{
    margin-top:0 !important;
}

/*doc button*/
.box{
    border: solid black;
    padding: 15px;
}

/*nav*/
.main-nav{
    background-color: #4A8BFA;
    color:white;
}

.navbar-brand, .game-name-nav>ul>li>a{
    color:white !important;
}